<header id="top-section">
  <!--Navbar-->
  <img class="header_banner" src="/assets/banner.jpg" />
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light lighten-1 nav-overwrite z-depth-0 mt-md-n5"
    [containerInside]="false">
    <div class="container">
      <!-- Navbar brand -->
      <mdb-navbar-brand><a class="navbar-brand d-none" href="#">Navbar</a></mdb-navbar-brand>
      <!-- Collapsible content -->
      <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-2">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/home']">主页</a>
          </li>
          <li class="nav-item mx-2 d-none">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/blogs']">博客</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/blogs']" [queryParams]="{blogType: 'skill'}"
              queryParamsHandling="merge">技术</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/blogs']"
              [queryParams]="{blogType: 'document'}" queryParamsHandling="merge">文档</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/blogs']" [queryParams]="{blogType: 'note'}"
              queryParamsHandling="merge">日志</a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown mx-2 d-none" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Basic dropdown<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
            </div>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/about']">联系我</a>
          </li>

        </ul>
        <!-- Links -->

        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item" *ngIf="user">
            <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
          </li>
          <li class="nav-item avatar dropdown" dropdown *ngIf="user">
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt=""
                class="img-fluid rounded-circle z-depth-0" style="height: 35px;"></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">{{user.fullname}} profile</a>
              <a class="dropdown-item waves-light" mdbWavesEffect *ngIf="user && user.isAdmin"
                [routerLink]="['/admin']">admin</a>
              <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Log out</a>
            </div>
          </li>
        </ul>
      </links>
      <!-- Collapsible content -->
    </div>
  </mdb-navbar>
  <!--/.Navbar-->
</header>