<div class="container py-5">
  <div class="row">
    <!--Section: Products v.4-->
    <section class="col-12 col-md-9" *ngIf="blog$ | async as blog">
      <section class="px-2 bg-white">
        <header class="py-4">
          <h2>{{ blog.title }}</h2>
          <div class="small mt-3">
            <span class="mx-2 grey-text">
              <i class="fas fa-tag pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">{{(blog.blogType || '') | blogType}}</span>
            </span>
            <span class="mx-2 grey-text">
              <i class="far fa-clock pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">{{blog.createdAt | date:"yyyy-MM-dd"}}</span>
            </span>
            <span class="mx-2" *ngIf="user">
              <a class="grey-text" [routerLink]="['/blogs', blog._id, 'edit']">
                <i class="far fa-edit pr-2"></i>
                <span class="clearfix d-none d-md-inline-block">编辑</span>
              </a>
            </span>
            <span class="mx-2" *ngIf="user">
              <!-- Google+ -->
              <a class="grey-text" (click)="deleteBlog(blog._id)">
                <i class="far fa-trash-alt pr-2"></i>
                <span class="clearfix d-none d-md-inline-block">删除</span>
              </a>
            </span>
          </div>
        </header>
        <div [innerHTML]="blog.content | htmlFormat "></div>
        <div class="py-2">文章均来自网络收集，如有侵权请联系网站删除</div>
        <hr />
        <div class="pb-3">
          <i class="fas fa-tags grey-text"></i>
          <span *ngFor="let tag of blog.tags" class="text-default mx-2">
            <mdb-badge pill="true" color="light-blue">
              {{(tag || '') | blogType}}
            </mdb-badge>
          </span>
        </div>
      </section>
      <!--Grid row-->
      <section class="my-5 px-0">
        <app-comment [blog_id]="blog._id" blog_type="Blog"></app-comment>
      </section>
    </section>
    <section class="col-0 col-md-3">
      <!-- <app-sidebar></app-sidebar> -->
    </section>
    <!--Section: Products v.4-->
  </div>
</div>
<button mat-fab color="warn" class="scrollBtn" (click)='scrollTop()'
  style="right:35px; bottom:35px;position: fixed; z-index: 9999">
  <mdb-icon fas icon="arrow-up"></mdb-icon>
</button>