<mdb-card class="mb-3" borderColor="border-light">
  <mdb-card-header class="bg-white"><strong>广告</strong></mdb-card-header>
  <mdb-card-body>
    <mdb-card-text>
      <a class="px-2 py-2 d-flex border-bottom">
        <div style="flex: 1">链接</div>
        <div><i class="fa fa-angle-double-right"></i></div>
      </a>
      <a class="px-2 py-2 d-flex border-bottom">
        <div style="flex: 1">链接</div>
        <div><i class="fa fa-angle-double-right"></i></div>
      </a>
      <a class="px-2 py-2 d-flex border-bottom">
        <div style="flex: 1">链接</div>
        <div><i class="fa fa-angle-double-right"></i></div>
      </a>
      <a class="px-2 py-2 d-flex border-bottom">
        <div style="flex: 1">链接</div>
        <div><i class="fa fa-angle-double-right"></i></div>
      </a>
      <a class="px-2 py-2 d-flex border-bottom">
        <div style="flex: 1">链接</div>
        <div><i class="fa fa-angle-double-right"></i></div>
      </a>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>