<!-- Section: Social newsfeed v.2 -->
<section class="my-5">
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-6">
      <!-- Newsfeed -->
      <div class="mdb-feed">
        <!-- Fourth news -->
        <div class="news">
          <!-- Excerpt -->
          <div class="excerpt">
            <!-- Brief -->
            <div class="brief">
              <a class="name">Lili Rose</a> said
              <div class="date">2 days ago</div>
            </div>
            <!-- Added text -->
            <div class="added-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore,
              iste quas libero eius? Vitae sint neque animi alias sunt dolor, accusantium ducimus, non placeat
              voluptate.</div>
          </div>

        </div>
        <!-- Fourth news -->
      </div>
      <!-- Newsfeed -->
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</section>
<!-- Section: Social newsfeed v.2 -->