<!-- Section: Blog v.2 -->
<section class="text-center my-5 col-12">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">驿路消息</h2>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5">推荐给您最新最好的创新消息！</p>

  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0" *ngFor="let blog of recommandBlog">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" style="height: 350px;" src="{{blog.bannerUrl || '../../../../assets/home_bg.jpg'}}"
          alt="驿路推荐">
        <a [routerLink]="['/blogs', blog._id]">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>{{blog.title}}</strong></h4>
      <!-- Post data -->
      <p>{{blog.createdAt | date:"yyyy-MM-dd"}}</p>
      <!-- Excerpt -->
      <p class="dark-grey-text" style="height: 70px; overflow:hidden">
        {{blog.content | htmlFormat:'nohtml' | slice:0:100}}</p>
      <!-- Read more button -->
      <a [routerLink]="['/blogs', blog._id]" mdbBtn color="deep-orange" rounded="true" mdbWavesEffect>查看更多</a>

    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->

</section>
<!-- Section: Blog v.2 -->

<!--Section: Features v.3-->
<section class="col-12">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold text-center">创新系统方法论的主要特征</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text text-center">创新方法论是研究创新过程中有没有逻辑顺序、规则、方法以及有什么样的顺序、规则与方法为宗旨的哲学研究。</p>

  <!--Grid row-->
  <div class="row pt-2">

    <!--Grid column-->
    <div class="col-lg-5 text-center text-lg-left">
      <img src="../../../../assets/screens-section.jpg" alt="" class="img-fluid z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7">

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fa icon="reply" size="lg" class="indigo-text fa"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">创新活动是一个系统过程</h5>
          <p class="grey-text text-left">任何创新活动，无论是个体的、企业组织的、地区的、国家的乃至全球的创新活动，都是一个系统过程，都需要运用系统方法，才能获得好的成效</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fa icon="reply" size="lg" class="indigo-text fa"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">创新系统是一个复杂的动态过程</h5>
          <p class="grey-text text-left">创新系统是开放的，演进的，是一个复杂的动态过程。创新通常是在“混沌边缘”实现的</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row pb-3">
        <div class="col-2 col-md-1">
          <mdb-icon fa icon="reply" size="lg" class="indigo-text fa"></mdb-icon>
        </div>
        <div class="col-10">
          <h5 class="font-weight-bold text-left mb-3 dark-grey-text">创新是一个互动学习的过程</h5>
          <p class="grey-text text-left">各创新要素之间的联系是创新系统的核心，正是要素联系孕育了创新。创新需要在不同技能、不同思想和不同价值观的人们良好的融合与交流中，才能激发出有创意的解决方案。
          </p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Features v.3-->

<!--Section: Features v.4-->
<section class="col-12">
  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold text-center">我们的聚焦是什么?</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text text-center">创新驿路专注于最新的科技前沿，发现身边的美.</p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="home" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">智慧家居</h5>
          <p class="grey-text">家庭自动化系统能够控制灯光、窗户、温湿度、影音设备以及家电等，他也可能同时包含家庭保全，例如出入控制或者是警报器。</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fab icon="internet-explorer" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">物联网</h5>
          <p class="grey-text">物联网，又称IoT技术，是互联网、传统电信网等的信息承载体，让所有能行使独立功能的普通物体实现互联互通的网络。</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="glass-martini" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">其他</h5>
          <p class="grey-text">待添加</p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2 center-on-small-only flex-center">
      <img src="../../../../assets/iphone-portfolio1.png" alt="" class="z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="car" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">车联网</h5>
          <p class="grey-text">互联汽车也称为联网汽车，是可以连接到互联网的车辆，车辆可以和其他车内或是车外的设备分享网络资源,也可以让驾驶更加便利</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="bolt" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">其他</h5>
          <p class="grey-text">待添加</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-2">
          <mdb-icon fas icon="magic" size="2x" class="deep-purple-text"></mdb-icon>
        </div>
        <div class="col-10 text-left">
          <h5 class="font-weight-bold">其他</h5>
          <p class="grey-text">待添加</p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--/Section: Features v.4-->